<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
   	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
	<meta name="description" content="">
	<meta name="author" content="">
	<link rel="icon" href="../../favicon.ico">

	<title>Question Room</title>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

	<!-- Custom styles for this template -->
	<link href="css/cover.css" rel="stylesheet">
	<!-- Custom fonts from Google Web Font -->
	<link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Montserrat:400,700|Lobster|Merriweather+Sans:400,700italic' rel='stylesheet' type='text/css'>
</head>
<body ng-controller="controller">
	<div class="site-wrapper">
		<div class="site-wrapper-inner">
			<div class="cover-container">
				<div class="masthead clearfix">
					<div class="inner">
						<h3 class="masthead-brand">Question Room - Powered by CodeMonkeys</h3>
						<nav>
							<!--<ul class="nav masthead-nav">
								<li class="active"><a href="#">Home</a></li>
								<li><a href="#">Features</a></li>
								<li><a href="#">Contact</a></li>
							</ul>-->
						</nav>
					</div>
				</div>

				<div class="inner cover">
					<h1 class="cover-heading">Ask More Questions!</h1>
					<p class="question-desc">This totally anonymous and real-time updating question moderated system permits students to ask more questions in a typical class setting.
						Simply join a question room using a simple name (such as comp3111).</p>
						<p class="lead" class="col-md-2 col-md-offset-5">
							<form name="form" ng-submit="join()" class="navbar-form navbar-left" role="search">
								<input type="text" name = "input" class="form-control large"
								ng-model="example.text"
								ng-pattern="example.word" required
								ng-trim="false"
								autofocus
								aria-describedby="sizing-addon1"
								placeholder="Room name">
								<a href="#" class="btn btn-lg btn-default"
								ng-hide="form.input.$error.required || form.input.$error.pattern"
								ng-click="join()"
								>Join</a>
							</form>
						</p>

						<div class="alert alert-warning" role="alert" ng-show="form.input.$error.required">
							Room name is required!</div>
							<div class="alert alert-warning" role="alert" ng-show="form.input.$error.pattern">
								Room name must be a single English word!
							</div>

						</div>

						<div class="mastfoot">
							<div class="inner">
								<p>Cover template for <a href="http://getbootstrap.com">Bootstrap</a>, by <a href="https://twitter.com/mdo">@mdo</a>.</p>
								<p>Powered by<a href="https://github.com/CodeMonkeys3111/Web"> CodeMonkeys</a></p>
							</div>
						</div>

					</div>

				</div>

			</div>

			<!-- Bootstrap core JavaScript
			================================================== -->
			<!-- Placed at the end of the document so the pages load faster -->
			<script src="js/lib/jquery.min.js"></script>
			<script src="js/lib/bootstrap.min.js"></script>

			<!-- 1.4.2 -->
			<script src="js/lib/angular.min.js"></script>

			<script>
			angular.module('app', [])
			.controller('controller', ['$scope', '$location', '$window', function($scope, $location, $window) {
				$scope.example = {
					text: '',
					word: /^\s*\w*\s*$/
				};

				$scope.join = function () {
					$window.location.href = 'question.html#/' + $scope.example.text;
				}
			}]);
			</script>
		</body>
		</html>
